
footer {
    margin-bottom: auto;   /* pushes footer to the bottom */
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
main {
  flex: 1; /* pushes footer down */
}