table, th, td, th, h3, input, tr, label
  {
    border: black;
    outline-color: black;
    width: auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid black;
  }


tr:hover 
  {
    background: #f0f0f0;
    cursor: pointer;
  }

